
<div class="nav_background">
<!-- <nav class="navbar navbar-default"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <div class="navbar-header"> -->
    <div class="hud">
        <div class="jar_button">
            <input id="jar" style="width:130px;height:150px; border-radius: 10%;" type="button" value="jar" >
        </div>
        <div class="jar_image"></div>

        <div class="tweet_button">
            <input id="Tweet" style="width:75px;height:75px;border-radius: 30%;" type="button" value="Tweet" >
        </div>
        <div class="tweet_image"></div>

        <div class="github_button">
            <input id="github" style="width:100px;height:100px;border-radius: 50%;" type="button" value="Github" >
        </div>
        <div class="github_image">
            <img src="/imgs/icon_gear.png" width="90" height="90"/>
        </div>
    </div>
<!-- </div> -->
<!-- </div> -->
<!-- </nav> -->
</div>
