
<div class="nav_background">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <div class="hud">
        <img src="/imgs/hud_jar_twitter.png"width="1015" height="247"/>
    </div>

        <div class="jar_button">
            <input id="jar" style="width:400px;height:200px;border-radius: 50%;" type="button" value="jar" >
        </div>
        <div class="jar_image"></div>

        <div class="tweet_button">
            <input id="Tweet" style="width:255px;height:150px;border-radius: 50%;" type="button" value="Tweet" >
        </div>
        <div class="tweet_image"></div>

        <div class="github_button">
            <input id="github" style="width:170px;height:150px;border-radius: 12px;" type="button" value="Github" >
        </div>
        <div class="github_image">
            <img src="/imgs/icon_gear.png" width="90" height="90"/>
        </div>
        <div class="github_hud">
            <img src="/imgs/hud_github.png" width="170" height="170"/>
        </div>

</div>
</div>
</nav>
</div>
