

<div class="hud">
    <div class="jar">
        <div class="jar_button">
            <input id="Jar" style="width:130px;height:150px; border-radius: 10%;" role="button" href="#carouselExampleIndicators" data-slide="next" type="button" value="jar" >
        </div>
        <div class="jar_image"></div>
    </div>

    <div class="tweet">
        <div class="tweet_button">
            <input id="Tweet" style="width:130px;height:130px;border-radius: 30%;" type="button" value="Tweet" >
        </div>
        <div class="tweet_image"></div>
    </div>

    <div class="github">
        <div class="github_button">
            <input id="Github" style="width:100px;height:100px;border-radius: 50%;" type="button" value="Github" >
        </div>
        <div class="github_image">
            <img src="/imgs/icon_github.png" width="90" height="81"/>
        </div>
    </div>
</div>
