<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>generate</title>
    </head>
    <body>
        <div class="button">
        <input id="generate" type="button" value="Generate" >
        </div>

    </body>
</html>
