    html {
        background-color: black;
    }

    video:-webkit-media-controls-fullscreen-button{
        display: none;
        object-fit: cover;
        background-color: black;
    }

    .video-container{
        object-fit: cover;
        background-color: black;
    }

    .hud{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        padding: 3vw;
        margin-left: -10vw;
        background-color: black;
    }

    .slideshow-container {
        z-index: 15;
        width: 100%;
        height: 16vw;
        position: relative;
        margin: auto;
        /* margin-top: 25px; */
        border-radius: 2%;
        /* background-color: white; */
        background-color: transparent;
        opacity: .9;
    }


 .mySlides{
        margin-top: 10vw;
        margin-left: 10vw;
        /* margin-right: 50vw; */
    }

    p {
        /* color: rgb(29,185,126); */
        color: white;
        /* color: #00FA9A; */
        position: absolute;
        z-index: 16;
        /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
        font-family: 'Optima', sans-serif;
        opacity: 1;
        font-size: 3vw;
        /* margin-left: -9vw; */
        /* padding-left: 2vw; */
        padding-right: 10vw;
        padding-top: 2vw;
        /* margin: 5vw; */
    }

    .author {
        /* color: #00FA9A; */
        color: white;

        position: absolute;
        font-family: 'Optima', sans-serif;

        /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
        opacity: 1;
        font-size: 3vw;
        margin-left: 50vw;
        margin-top: 12vw;
    }

    .number{
        opacity: 0;
    }

    .jar_button{
        z-index:4;
        position: absolute;
        opacity: 0;
    }

    .jar_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        float:left;
        width: 129px;
        height: 130px;

        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
        background: url('/imgs/sprite_jar_icon_55sprites_129by130tile.png') left center;
    }

    @keyframes bob{
      from{background-position-x:0px;}
      to{background-position-x:-7106px;}
    }

    .jar_button:hover + .jar_image {
        animation: bob 5s steps(55) infinite alternate-reverse;
        opacity: 1;
    }

    .jar_image {
      animation: pulse 1s infinite alternate-reverse;
    }

    /* @keyframes pulse {
      0% {
          transform: scale(.9);
        opacity: .1;
      }
      100% {
        transform: scale(1.3);
        opacity: 1;
      }
    } */

    .tweet_button{
        z-index:5;
        position: absolute;
        opacity: 0;
        margin-left: -19px;
        border-radius: 20px;
    }

    .tweet_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        margin-top: 25px;
        width: 73px;
        height: 71px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
        transform: scale(1.5);
        background: url('/imgs/sprite_twitter_icon_39sprites_73by71tile.png') left center;
    }

    @keyframes fly{
      from{background-position-x:0px;}
      to{background-position-x:-2847px;}
    }

    .tweet_button:hover + .tweet_image{
        animation: fly .8s steps(39) infinite;
        opacity: 1;
    }

    .tweet_image{
        animation: pulse 1s infinite alternate-reverse;
    }

    .github_button{
        color: orange;
        z-index:4;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .github_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        margin-top: 15px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
    }

    .github_button:hover + .github_image {
        opacity: 1;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

    @media only screen and (orientation:portrait) {
        .slideshow-container {
            margin-top: -5vw;
        }
        .author{
            margin-top: 15vw;
        }
        .hud {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -80px;
            flex-direction: column;
            background-color: transparent;
        }
        .jar {
          position: 3;
          margin-right: 7vw;
          margin-top: 30vw;
        }
        .jar_image{
            transform: scale(1.5);
        }
        .tweet{
          position: 2;
          margin-top: -10vw;
        }
        .tweet_image{
            transform: scale(2);
        }
        .github{
          position: 1;
          margin-right: 1.5vw;
          margin-top: 28vw;
        }
        .github_image{
            transform: scale(1.3);
        }
    }

    .dynamic, .static {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }

    .dynamic{
        z-index: 1
    }

/* Fading animation for slides / tweets */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 9s;
  animation-name: fade;
  animation-duration: 9s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: .9}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: .9}
}
