    html {
        background-color: black;
    }



    #container { display:block; }

    @media only screen and (orientation:portrait){

      #container {

        height: 100vw;

        -webkit-transform: rotate(90deg);

        -moz-transform: rotate(90deg);

        -o-transform: rotate(90deg);

        -ms-transform: rotate(90deg);

        transform: rotate(90deg);

      }

    }

    @media only screen and (orientation:landscape){

      #container {

         -webkit-transform: rotate(0deg);

         -moz-transform: rotate(0deg);

         -o-transform: rotate(0deg);

         -ms-transform: rotate(0deg);

         transform: rotate(0deg);

      }

    }


    video:-webkit-media-controls-fullscreen-button{
        display: none;
        object-fit: cover;
        background-color: black;
    }

    .video-container{
        object-fit: cover;
        background-color: black;
    }

    .hud{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
        padding: 3vw;
        margin-left: -10vw;
        background-color: black;
    }

    .slideshow-container {
        z-index: 15;
        /* max-width: 80vw; */
        width: 100%;
        height: 30vw;
        position: relative;
        margin: auto;
        /* padding: 7vw; */

        /* margin-left: -400px; */

        margin-top: 150px;
        border-radius: 2%;
        background-color: transparent;
        opacity: .9;
        /* background-color: rgba(0,0,0,0.5); */
    }


 .mySlides{
         /* margin: 40vw; */
         /* padding: auto; */
        margin-left: 15vw;
        margin-right: 40vw;
    }

    /* .emptySlide{
        background-color: transparent;
        opacity: .9;
    } */

    p {
        color: #ff9a00;
        position: absolute;
        z-index: 15;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        opacity: 1;
        font-size: 3vw;
        margin-left: -7vw;
        margin-top: 50vw;
    }

    .author {
        color: #ff9a00;
        position: absolute;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        opacity: 1;
        font-size: 3vw;
        margin-left: 50vw;
        margin-top: 13vw;
    }

    .number{
        opacity: 0;
    }

    .jar_button{
        z-index:4;
        position: absolute;
        opacity: 0;
    }

    .jar_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        float:left;
        width: 129px;
        height: 130px;

        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;

        /* transform: scale(.5); */
        background: url('/imgs/sprite_jar_icon_55sprites_129by130tile.png') left center;
    }

    @keyframes bob{
      from{background-position-x:0px;}
      to{background-position-x:-7106px;}
    }

    .jar_button:hover + .jar_image {
        animation: bob 5s steps(55) infinite alternate-reverse;
        opacity: 1;
    }

    .jar_image {
      animation: pulse 1s infinite alternate-reverse;
    }

    /* @keyframes pulse {
      0% {
          transform: scale(.9);
        opacity: .1;
      }
      100% {
        transform: scale(1.3);
        opacity: 1;
      }
    } */



    .tweet_button{
        z-index:5;
        position: absolute;
        opacity: 0;
        /* margin-top: 5px; */
        margin-left: -19px;
        border-radius: 20px;
    }

    .tweet_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        /* margin-left:139px;
        margin-top: 35px; */
        margin-top: 25px;
        width: 73px;
        height: 71px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
        transform: scale(1.5);
        background: url('/imgs/sprite_twitter_icon_39sprites_73by71tile.png') left center;
    }

    @keyframes fly{
      from{background-position-x:0px;}
      to{background-position-x:-2847px;}
    }

    .tweet_button:hover + .tweet_image{
        animation: fly .8s steps(39) infinite;
        opacity: 1;
    }

    .tweet_image{
        animation: pulse 1s infinite alternate-reverse;
    }

    .github_button{
        color: orange;
        z-index:4;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }

    .github_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        margin-top: 15px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
    }

    .github_button:hover + .github_image {
        opacity: 1;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

    /* @media only screen and (max-device-width: 480px) {
        .hud {
            float: right;
            margin-right: 100px;
            flex-direction: column;
        }
        .jar {
          margin-right: 7vw;
          margin-top: 360px;
        }
        .jar_image{
            transform: scale(1.5);
        }
        .tweet{
          margin-top: 390px;
        }
        .tweet_image{
            transform: scale(2);
        }
        .github{
          margin-top: 390px;
        }
        .github_image{
            transform: scale(1.5);
        }
    } */

    /* @media only screen and (orientation:portrait) {
        .hud {
            float: right;
            margin-right: 100px;
            flex-direction: column;
        }
        .jar {
          margin-right: 9vw;
          margin-top: 360px;
        }
        .jar_image{
            transform: scale(1.5);
        }
        .tweet{
          margin-top: 390px;
        }
        .tweet_image{
            transform: scale(2);
        }
        .github{
          margin-right: 3vw;
          margin-top: -750px;
        }
        .github_image{
            transform: scale(1.3);
        }
    }

    @media only screen and (orientation:landscape) {
        .tweet{
          order: 3;
        }
        .github{
          margin-top: 25px;
          order: 2;
        }
    }

    @media (max-width:500px) {
        .hud{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            z-index: 3;
            padding: 3vw;
            margin-left: -10vw;
        }

      .jar {
        order: 3;
        margin-right: 10vw;
        margin-top: 260px
      }
      .tweet{
        order: 2;
        margin-top: 290px
      }
      .github{
        order: 1;
        margin-top: 290px
      }
    } */

    .dynamic, .static {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        opacity: 1;
        /* background-color: black; */
    }

    .dynamic{
        z-index: 1
    }

.sprite_test{
    position:absolute;
    bottom:450px;
    left:25%;
    width: 640px;
    height: 360px;
    background: url('/imgs/idle_sprite_test.png') left center;
    animation: idle 2.5s steps(27) infinite;
}

.static_sprite_background{
    /* adds a static background of open eyes for when the animation 'pops' out */
    position:absolute;
    bottom:450px;
    left:25%;
    width: 640px;
    height: 360px;
}

@keyframes idle{
  from{background-position-x:0px;}
  to{background-position-x:-17280px;}
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 9s;
  animation-name: fade;
  animation-duration: 9s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: .9}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: .9}
}
