    html {
        background-color: black;
    }

    video:-webkit-media-controls-fullscreen-button{
        display: none;
        object-fit: cover;
    }

    .video-container{
        object-fit: cover;
    }

    .hud{
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        padding: 3vw;
        margin-left: -10vw;
    }

    h1 {
        animation: pulse 5s infinite;
        color: #ff9a00;
        position: absolute;
        z-index: 10;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        size: 10px;
        opacity: 1;
        font-size: 1vw;
    }

    input[type="button"]{
         -moz-appearance: none;
         -webkit-appearance: none;
         appearance: none;
    }

    /* .nav_background{
        color: transparent;
        background-color: transparent;
        z-index: 3;
        margin:  25px;
        border: 0px;
        border-color: transparent;
        width: 100%;
    } */

    .popuptext{
        /* position: absolute; */
        opacity: 0;
        color: #ff9a00;
         font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    /* Popup container */
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7 {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        z-index: 4;
        top: 460px;
        left:190px;
    }

    /* The actual popup (appears on top) */
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7, .popuptext {
        visibility: hidden;
        width: 900px;
        opacity: 0.9;
        text-align: left;
        border-radius: 6px;
        padding: 9px 0;
        position: absolute;
        bottom: 125%;
        z-index: 4;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .popup1, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7, .show {
        visibility: visible;
        animation-delay: 2s;
        -webkit-animation: fadeIn 3s;
        animation: fadeIn 3s;
        z-index: 4;
    }

    /* Popup arrow */
    /* All of these are teh same, but they are all required for it function properly. */
    .popup1 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup2 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup3 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup4 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup5 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup6 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    .popup7 .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
        z-index: 4
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: .9;}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:.9 ;}
    }

    /* .jar, .tweet, .github{

    } */

    .jar_button{
        z-index:4;
        position: absolute;
        opacity: 0;
    }

    .jar_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        float:left;
        width: 129px;
        height: 130px;

        /* transform: scale(.5); */
        background: url('/imgs/sprite_jar_icon_55sprites_129by130tile.png') left center;
    }

    @keyframes bob{
      from{background-position-x:0px;}
      to{background-position-x:-7106px;}
    }

    .jar_button:hover + .jar_image {
        animation: bob 5s steps(55) infinite alternate-reverse;
        opacity: 1;
    }

    .tweet{
        /* margin: 45px; */
    }

    .tweet_button{
        z-index:5;
        position: absolute;
        opacity: 0;
        margin-top: 17px;
        margin-left: -10px;
        border-radius: 20px;
    }

    .tweet_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        /* margin-left:139px;
        margin-top: 35px; */
        margin-top: 25px;
        width: 73px;
        height: 71px;
        transform: scale(1.5);
        background: url('/imgs/sprite_twitter_icon_39sprites_73by71tile.png') left center;
    }

    @keyframes fly{
      from{background-position-x:0px;}
      to{background-position-x:-2847px;}
    }

    .tweet_button:hover + .tweet_image{
        animation: fly .8s steps(39) infinite;
        opacity: 1;
    }

    .github_button{
        color: orange;
        z-index:4;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        /* float:left; */

        /* margin-left:230px;
        margin-top: 22px; */
    }

    .github_image{
        z-index:3;
        position: absolute;
        opacity: .1;
        margin-top: 15px;
        transform: scale(1.1);

        animation: pulse 5s infinite;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition: -webkit-transform 3s ease-in-out;
        transition: transform 3s ease-in-out;
    }

    .github_button:hover + .github_image {
        opacity: 1;
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }

    @media (max-width:700px) {
      .jar {
        order: 3;
        margin-right: 10vw;
        margin-top: 260px
      }
      .tweet{
        order: 2;
        margin-top: 290px
      }
      .github{
        order: 1;
        margin-top: 290px
      }
    }

    .dynamic, .static {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }

    .dynamic{
        z-index: 1
    }

    .Grimm{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 600px;
        left:232px;
        transform: rotate(5deg);
        border-radius: 10px;
    }

    .Poe{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 680px;
        left:470px;
        transform: rotate(3deg);
        border-radius: 10px;
    }

    .Wilde{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 617px;
        left:621px;
        transform: rotate(1deg);
        border-radius: 10px;
    }

    .Woolf{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 688px;
        left:713px;
        transform: rotate(1deg);
        border-radius: 10px;
    }

    .Carroll{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 690px;
        left:841px;
        transform: rotate(1deg);
        border-radius: 10px;
    }

    .Shakespeare{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        float:left;
        top: 570px;
        left:1100px;
        margin-left:-150px;
        border-radius: 10px;
    }

    .Lovecraft{
        background: orange;
        z-index:2;
        animation: pulse 5s infinite;
        position: absolute;
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        top: 650px;
        left:1060px;
        transform: rotate(.01deg);
        border-radius: 10px;
    }

.sprite_test{
    position:absolute;
    bottom:450px;
    left:25%;
    width: 640px;
    height: 360px;
    background: url('/imgs/idle_sprite_test.png') left center;
    animation: idle 2.5s steps(27) infinite;
}

.static_sprite_background{
    /* adds a static background of open eyes for when the animation 'pops' out */
    position:absolute;
    bottom:450px;
    left:25%;
    width: 640px;
    height: 360px;
}

@keyframes idle{
  from{background-position-x:0px;}
  to{background-position-x:-17280px;}
}
